

/*First block animation css start*/
.scale-in-center {
    font-size: 20px;
    text-align: center;
    animation: scale-in-center 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.scale-out-center {
    font-size: 20px;
    text-align: center;
    animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes scale-out-center {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(0);
        opacity: 1;
    }
}

/*First block animation css end*/

